.outer-box{
    width: 1350px;
    height: 600px;
    background: rgb(85, 1, 134);
    padding: 10px;
}
.box1{
    width: 40%;
    height: 40%;
    background: rgb(0, 255, 0);
    float: left;
    margin: 10px;
    border: 10px solid;
    border-color: rosybrown;
}
.box2{
    width: 40%;
    height: 40%;
    background: rgb(0, 255, 255);
    float: left;
    margin: 10px;
    border: 10px solid;
    border-color: rosybrown;
}
.box3{
    width: 40%;
    height: 40%;
    background: rgb(255, 0, 153);
    float: left;
    margin: 10px;
    border: 10px solid;
    border-color: rosybrown;
}
.box4{
    width: 40%;
    height: 40%;
    background: rgb(241, 0, 0);
    float: left;
    margin: 10px;
    border: 10px solid;
    border-color: rosybrown;
}