@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html {
    height: 100%;
}
.hed-1{
    background-image: url("pexels-pixabay-235621.jpg");
    height: 70%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}
.hed-1 h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 870px){
    .hed-1 h1{
        font-size: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .hed-1 h2{
        color: #fff;
    }
    .hed-1 h3{
        color: #fff;
    }
}
@media (max-width: 470px){
    .hed-1 h1{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 400px){
    .hed-1 h1{
        font-size: 25px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
nav{
    height: 80px;
    background: rgb(0, 0, 0);
}
nav .container {
    margin: 0 auto;
    max-width: 1100px;
}
nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;
}
nav .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
nav .menu ul{
    display: flex;
}
nav .menu ul li{
    list-style: none;
    margin: 0 15px;
}
nav .menu ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    transition: all 400ms;
    letter-spacing: 1px;
}
nav .menu ul li a:hover{
    padding: 10px;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500px;
}
label i{
    color: #fff;
    font-size: 25px;
    
}
#checking {
    display: none;
}
label {
    display: none;
}

/*making navbar responsive*/

@media (max-width: 830px) {
    nav .menu ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #333;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 400ms;
    }

    nav .menu ul li{
        margin: 20px 0;
    }

    nav .menu ul li a {
        font-size: 23px;
    }

    nav .menu ul li a:hover {
        padding: unset;
        background: unset;
        color: cyan;
        border: unset;
        outline: unset;
        border-radius: unset;
        font-weight: unset;
    }

    label {
        display: block;
    }

    #checking:checked ~ ul{
        left: 0%;
    }

    #checking:checked ~ label i::before{
        content: '\f00d';
    }
}
/*navbar 2 starts here*/
.nav-1{
    height: 60px;
    background: black;
}
.container-1 {
    margin: 0 auto;
    max-width: 1100px;
}
.navbar-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;
}
.menu-1 ul{
    display: flex;
}
.menu-1 ul li{
    list-style: none;
    margin: 0 15px;
}
.menu-1 ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    transition: all 400ms;
    letter-spacing: 1px;
}
.menu-1 ul li a:hover{
    padding: 10px;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500px;
}

/*second section starts here*/
.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
}
.myslider{
    height: 655px;
    display: none;
    overflow: hidden;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}
.prev:hover, .next:hover{
    color: #3498db;
}
.next{
    right: 0;
}
.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.active, .dot:hover{
    border-color: #3498db;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1;}
}
.txt{
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
}
@keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
}

.txt h1{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
}
.txt p{
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}
.img-1{
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}
@keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
}
@-webkit-keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
}

@media screen and (max-width: 800px) {
    .myslider{
        height: 500px;
    }
    .txt{
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;   
    }
    @-webkit-keyframes posi2 {
        from {top: 35%;}
        to {top: 50%}
    }
    @keyframes posi2 {
        from {top: 35%;}
        to {top: 50%}
    }
    .txt h1{
        font-size: 40px;
    }
    .txt p{
        font-size: 13px;
    }
}

@media screen and (max-width: 520px){
    .txt h1{
        font-size: 30px;
    }
    .sign{
        margin-right: 20px;
    }
    .sign a{
        font-size: 12px;
    }
    
}

/* third section black background */
.section-3{
    width: 100%;
    height: 20%;
    background: black;
}
div.container-2
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 3em 3em;
	text-align: center;
}

div.container-2 a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
/* third section responsive */
@media (max-width: 1050px){
    div.container-2 a{
        font: 25px Raleway;
        padding: 5px 5px;
    }
    .section-3{
        height: 20%;
    }
    div.container-2{
        padding: 3em 4em;
    }
}
@media (max-width: 800px){
    div.container-2 a{
        font: 20px Raleway;
        padding: 5px 5px;
    }
    .section-3{
        height: 15%;
    }
    div.container-2{
        padding: 4em 3em;
    }
}
@media (max-width: 550px){
    div.container-2 a{
        font: 13px Raleway;
        padding: 3px 3px;
        margin: 0px 5px;
    }
    div.container-2{
        padding: 3em 3em;
    }

}
@media (max-width: 450px){
    div.container-2 a{
        font: 13px Raleway;
        padding: 2px 2px;
        margin: 0px 2px;
    }
    div.container-2{
        padding: 3em 1em;
    }
    .section-3{
        height: 15%;
    }

}
@media (max-width: 450px){
    div.container-2 a{
        font: 13px Raleway;
        padding: 2px 2px;
        margin: 0px 2px;
    }
    div.container-2{
        padding: 3em 1em;
    }
    .section-3{
        height: 15%;
    }
}
@media (max-width: 360px){
    div.container-2 a{
        font: 13px Raleway;
        padding: 2px 2px;
        margin: 0px 2px;
    }
    div.container-2{
        padding: 2em 1em;
    }
    .section-3{
        height: 15%;
    }
}
@media (max-width: 320px){
    div.container-2 a{
        font: 10px Raleway;
        padding: 2px 2px;
        margin: 0px 2px;
    } 
    .section-3{
        width: 100%;
        height: 15%;
        background: black;
    }
    div.container-2{
        padding: 2em 0em;
    }

}

/* section-4 about */
.section-4{
    height: 100%;
    width: 100%;
    background-image: url("sec-45.jpg");
    background-color: rgba(39, 54, 47, 0.637);
    background-blend-mode: darken;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
/* section-4 responsive */
@media (max-width: 400px){
    .section-4 h2{
        font-size: 15px;
    }
}

/* footer section */
.footer{
    width: 100%;
    height: 10%;
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* responsive footer */
@media (max-width: 1130px){
    .footer p{
        font-size: 15px;
    }
}
@media (max-width: 510px){
    .footer p{
        font-size: 13px;
    }
    .footer{
        padding-right: 2%;
        padding-left: 2%;
    }
}